@model List<ASPNETMVC5.Models.Cliente>

@{
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>

@foreach (var item in Model)
{
    <li>@item.Nome</li>
}

@section scripts{
<script>
    $(document).ready(function () {
        $("li").click(function () {
            $(this).hide();
        });
    });
</script>
}